@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    scroll-margin: 10em 0 0 0;
}

/* ------NAVBAR------- */

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(207, 198, 198, 0.561);
    height: 7em;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul a {
    text-decoration: none;
    color: white;
}

nav ul li {
    margin: -6px auto .7em;
    letter-spacing: .3em;
    font-size: 1.2rem;
}

nav ul li:hover {
    letter-spacing: .5em;
}

nav ul a:hover {
    color: gray;
}

/* ------NAVBAR------- */

/* -------HERO------ */

#welcome-section {
    text-align: center;
    background-color: #eccfd3;
    background-image: url('desktop.jpg');
    background-position: 62%;
    background-size: 264%;
    background-repeat: no-repeat;
    color: black;
    height: 100vh;
}

header {
    margin-bottom: 4em;
    text-align: left;
    margin-right: 11em;
    position: relative;
    top: 10em;
    left: 2em;
}

header h1 span {
    text-transform: uppercase;
    display: block;
    font-size: 1rem;
    letter-spacing: .2rem;
}

header h1 {
    font-size: 2.3rem;
    font-weight: bold;
    letter-spacing: 0.07rem;
}

header p {
    font-size: 1.3rem;
    margin-block-start: -22px;
}

/* ---------ABOUT------ */

#about {
    padding: 7%;
    text-align: left;
    display: block;
    font-size: bold;
}

#about div h3 {
    letter-spacing: .3em;
    font-size: 1.3em;
}

/* -----PROJECTS------- */

#projects h2 {
    text-transform: lowercase;
    letter-spacing: .3em;
    font-size: 1.3em;
    padding-left: 7%;
    margin-top: 2em;
    margin-bottom: 0;
}

.flexbox-container {
    padding: 0 7% 0;
}

.flexbox-container img {
    max-width: 100%;
    height: auto;
    -webkit-box-shadow: 4px 17px 7px -7px rgba(148, 138, 148, 1);
    -moz-box-shadow: 4px 17px 7px -7px rgba(148, 138, 148, 1);
    box-shadow: 4px 17px 7px -7px rgba(148, 138, 148, 1);
    margin-top: 8%;
    margin-bottom: 3%;
}

.project-tile p {
    text-align: center;
    margin-top: 0;
}

/* -------FOOTER-------- */

#contact {
    background-color: #EBCFCE;
    padding: 0 7% 0;
    height: 150px;
}

footer {
    padding-top: 2.5em;
}

footer h2 {
    text-align: center;
    color: black;
    margin: 0 auto;
    font-size: 1.2rem;
}

footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

footer ul li {
    margin-right: 2rem;
    margin-top: 1rem;
}

footer ul a {
    text-decoration: none;
    color: rgb(95, 92, 92);
}

footer ul li a i:hover {
    color: white;
    font-size: 1.5rem;
}

/* -------MEDIA QUERIES------- */

@media(min-width:1025px) {
    .menuItems {
        display: flex;
        justify-content: flex-end;
    }
    nav ul li {
        margin: 0;
        margin-right: 20px;
    }
    #navbar {
        height: 65px;
    }
    header h1 {
        font-size: 4.3rem;
        margin-bottom: 18px;
    }
    header p {
        font-size: 2.3rem;
    }
    .project-tile {
        width: 50%;
        margin-right: 25px;
    }
    .flexbox-container {
        display: flex;
    }
}